
html{ display: table; margin: auto; background: white
    }

body{ width:800px;
      font-family: "FreeSans", sans-serif ; font-size:18px; 
      margin:40px; background-color: #f8f8f8; border: 2px solid #afafaf; padding:20px
    }

ul  {list-style-type:square}

h2  {color: #006000}

p   {margin:10px; margin-left: 20px; margin-top: 20px}

pre {margin:40px; font-size: 16px; border: 1px solid gray; background: white; padding: 10px }

#samp {margin:40px; font-size: 16px; border: none; background: #efefef; }

